body {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 100%;
  max-width: 800px;
}
main {
  min-height: calc(100vh - 110px);
}
header,
footer {
  color: white;
  background-color: black;
}
header {
  height: 60px;
  padding: 5px 10px;
  box-sizing: border-box;
}
footer {
  height: 20px;
}
h2 {
  width: fit-content;
  display: inline-block;
}
header nav {
  display: inline-block;
  width: fit-content;
  position: absolute;
  right: 15px;
  top: 23px;
}
a {
  color: inherit;
}
header nav a {
  margin: 0 10px;
}
